<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ua.myasnoff.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. М'ясноff Доставка</name>

    <description>
        Доставка продукции по Житомиру
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FF0000" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/32b6f00a1ba7fd60747644e2f44bac62.png" density="ldpi" />
        <icon src="res/android/icon/1066c3f57e8d0b992c018020b97e8b1d.png" density="mdpi" />
        <icon src="res/android/icon/ec747b26389b83fc2aa77189aa20a721.png" density="hdpi" />
        <icon src="res/android/icon/4e588f9a960e90e7cfcef3db35131326.png" density="xhdpi" />
        <icon src="res/android/icon/34b10f432451cadb2aa56c9e27bd5a61.png" density="xxhdpi" />
        <icon src="res/android/icon/9491b8a3f2479fbf8d50cf6388ea7c8e.png" density="xxxhdpi" />

        <splash src="res/android/screen/53fd59aa048107e76b321141ef7c64fd.png" density="port-hdpi"/>
        <splash src="res/android/screen/a9d448f95efdac4d0f6d374661e6b7fa.png" density="port-ldpi"/>
        <splash src="res/android/screen/e9aa400f71125e206801675f638debbf.png" density="port-mdpi"/>
        <splash src="res/android/screen/98929a92869aca35edb2208086036479.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/fa1d0f83c88faa2b4c051a289b4f9f65.png" width="180" height="180" />
        <icon src="res/ios/icon/d2454686eabe0424c020d25d3b7cebdf.png" width="60" height="60" />
        <icon src="res/ios/icon/2e6d42d54cc9b47c03f72fb13a25ea5e.png" width="120" height="120" />
        <icon src="res/ios/icon/9bea874dbfadfa1454b6127597f16f4d.png" width="76" height="76" />
        <icon src="res/ios/icon/a9b241d23474b27894ec54b46c167842.png" width="152" height="152" />
        <icon src="res/ios/icon/50ce1a9683487eb458eebdfecda1f927.png" width="57" height="57" />
        <icon src="res/ios/icon/73aca5086f206b970e45274a44a85c55.png" width="114" height="114" />
        <icon src="res/ios/icon/d49ebf7f2528e358ece2e4a02370516b.png" width="72" height="72" />
        <icon src="res/ios/icon/410f2e9e6e90caf950d5fe31c73447df.png" width="144" height="144" />
        <icon src="res/ios/icon/90b9918df9276b004c026a65efb9c195.png" width="167" height="167" />
        <icon src="res/ios/icon/c2cff51e2027ebbcd9c1aee47a9ec848.png" width="29" height="29" />
        <icon src="res/ios/icon/c366079701b1ef8e8b79a62d8c31eb2b.png" width="58" height="58" />
        <icon src="res/ios/icon/63f81eb2c2bc4b69fffeb7ca865026e0.png" width="87" height="87" />
        <icon src="res/ios/icon/88d7ce2c421be05f9563390451514c30.png" width="167" height="167" />

        <splash src="res/ios/screen/d4c45f44b769a5333008e1ed29df206c.png" />
        <splash src="res/ios/screen/90ee63dacee352698d8129b4bcf58033.png" />
        <splash src="res/ios/screen/d790a650a30e943416526c471b7af07a.png" />
        <splash src="res/ios/screen/0b87dc44b92f7b4eebbe29d1c857556f.png" />
        <splash src="res/ios/screen/d32e549a3fcdf11ebc9c0f1b4479a58c.png" />
        <splash src="res/ios/screen/d5534e531fcb742e9eadec8028341399.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/9443353f2364f64a0d877ef705b3ea04.png" target="StoreLogo" />
        <icon src="res/windows/icon/a0eeff477d525b1e8b2f2fc9afd37538.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/3b51da94029a6e865b22afa6ec270cb1.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/c99a151e1d4294d566eba07a620d9009.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/39fff2af9743fe3ba2d940d5d89a1434.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/daf9e56b3e77a3530673ce5b4d3761a6.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/86da9ef7253ffb6913b9ecfc12f49659.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/f88251e34ad0878481c73dace1ef581f.png" target="SplashScreen"/>
        <splash src="res/windows/screen/0abc0bb06b4773c2767c57be34ea9034.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>